[domain/default]
autofs_provider = ldap
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap

ldap_uri = ldap://{{ ldapserver }}/
ldap_search_base = {{ ldapbase }}
ldap_id_use_start_tls = True
ldap_tls_cacertdir = /etc/openldap/cacerts

cache_credentials = True

[sssd]
services = nss, pam, autofs
domains = default

[nss]
homedir_substring = /home
